* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  flex: 30%;
  background-color: rgb(134, 183, 229);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid gray;
}

.header input:first-child {
  border-top-left-radius: 8px;
  /* border-bottom-left-radius: 8px; */
}

.header input:last-child {
  border-bottom-left-radius: 8px;
}

.header button {
  width: 70px;
  height: 84px;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid gray;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task {
  width: 50%;
  height: 40px;
  margin-top: 1rem;
  background-color: rgba(174, 174, 174, 0.09);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* margin-left: 2rem; */
}
.content > span {
  display: grid;
  place-items: flex-start;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
}

.task > button {
  flex: 15%;
}
